{% extends "editari/base.html" %}
{% block content %}
  {% if user.is_authenticated %}
      {% for post in posts %}
      <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <a href="#"><i class="fas fa-thumbtack"></i></a>
          </div>
        </article>
      {% endfor %}
      {% else %}
      <h1>YOU DO NOT HAVE ACCESS TO THIS PAGE. YOU MUST BE LOGGED IN. CLICK HERE TO <a href="{% url 'login' %}">LOGIN!</a></h1> 
      {% endif %}
  {% endblock content %}