 {% load static %}
  
 <link rel="stylesheet" type="text/css" href="{% static 'editari/style.css' %}">
<div class = "form_page">
  {% block content %}
  {% if user.is_authenticated %}
    <div class="form">
    <h2> You're already logged in. Click <a href="{% url 'blogs' %}">here</a> to go to home.</h2>
    </div>
  {% else %}
    <div class="form">
      <h2>Login</h2>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ l_message.tags }}">
              {{ message }}
            </div> 
          {% endfor %}
        {% endif %}
      <form method="post">
        {% csrf_token %}
          {% for field in login_form %}
            <p>
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
              <!-- <small style="color: grey">{{ field.help_text }}</small> -->
            {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
            </p>
          {% endfor %}
    <button type="submit">Log In</button>
    </form>
    </div>
  {% endif %}
{% endblock %}
</div>