{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'editari/style.css' %}">

{% if user.is_authenticated %}
  <div class="already">
    <h1> Already logged in. <br> Click <a href="{% url 'blogs' %}"><span style="color: yellowgreen;">HERE</span></a> to go to home page. </h1>
  </div>
{% else %}
{% block content %}
<div class="flexing">
    <div class="left-side"> <!-- This is the left container-->
      <img src="/static/editari/logo.png" class="logo" style="padding-top: 40px;">
    </div>
    <div class="right-side"> <!-- This is the right container-->
      <h1 class="main-title"> Regjistrohu tani! </h1>
      <form method="post" class="register-form">
        {% csrf_token %}
        {% for field in form %}
          <p style="color: white; font-size: 20px; font-family: 'Titillium Web', sans-serif; font-weight: 300;">
            {{ field.label_tag }}
          </p>
            {{ field }}
            {% if field.help_text %}
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="register-button">Regjistrohu</button>
        <a href="{% url 'login' %}"><p> Already have an account? Click here to go to login page. </p></a>
        </form>
    </div>
    </div>
{% endblock %}
{% endif %}