body {
    background: #fafafa;
    color: #333333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.back_to_top{
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 30px;
    display: none;
}

.back_to_top_wrapper{
  position: absolute;
  top: 100vh;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}
  .status-circle-online {
    width: 10px;
    height: 10px;
    background-color: forestgreen;
    border-radius: 100%;
    margin-right: 8px;
}
.status-circle-offline {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    margin-right: 8px;
}

  /* Css for hamburger button */
  #hamburgerbutton {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 30px;
    transition: 0.1s ease-out;
    z-index: 9999;
  }
  .line1, .line2, .line3 {
    margin-top: 7px;
    background-color: white;
    width: 40px;
    height: 5px;
  }
  
  .sidenav {
    z-index: 1;
    width: 0px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(52, 73, 94, 0,8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    }
  .sidenav > a {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 50;
    font-size: 30px;
  }
  .navbar-expand-sm {
    z-index: 7;
  }
  .list-group-item-light {
    display: flex;
    align-items: center;
  }

  /* Media Query */

  /* =============== M O B I L E =============== */
  @media (min-width: 320px) and (max-width: 480px) {
    .sidenav {
      background-color: rgba(52, 73, 94, 0.8);
    }
    
  }
  
