body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
.first-container button a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.first-container{
    background-image: url(/static/editari/background.jpg) ;
    padding-top: 200px;
    height: 80vh;
    text-align: center;
    align-items: center;
    margin: auto;
}
#title{
    padding-bottom: 20px;
    color: #250052;
    font-family: monospace;
    font-size: 40px;
    font-weight: 800;
}
.unique-color-dark {
    background-color: #1c2331 !important;
    color: white;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.illustration-index {
    width: 100%;
    height: 100%;
}
.right-side-div {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-weight: 100;
}
.paragraph {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.paragraph > p {
    border-left: 1px solid #ffcf2d;
    padding-left: 25px;
}
.illustration-container {
    background: rgb(28,35,49);
}
.ill2 {
    border-left: 1px #ffcf2d;
    border-left-style: dashed;
}

/* .form {
    margin:0 auto;
    text-align: center;
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgb(27,36,49);
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border-radius: 20px;


}
.form label, .form input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;

}

.form label {
    display:inline-block;
}
.form input {
    border: none;
  border-radius: 15px;
}
.form_page{
    background-image: url(/static/editari/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    padding: 40px 0px;

}

.form button{
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    background-color: #6351ce;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #ffffff;
}
.form p {
    display: flex;
    margin-bottom: 20px;
} */

.back_to_top{
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 30px;
    display: none;
}

.back_to_top_wrapper{
  position: absolute;
  top: 100vh;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}
.flexing {
    display: flex;
    height: 100vh;
    
}
.left-side {
    background-image: url('/static/editari/background2.jpg');
    background-size: cover;
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.register-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.register-form > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    padding-top: 0;
    background: transparent;
    margin-top: 0;
    color: white;
    font-size: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }
.main-title {
    font-size: 70px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    padding-left: 10px;
    border-width: 10px;
    border-left: 1px solid white;
    font-weight: 500;
}
.register-button {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    transition: 0.2s ease-out;
    font-family: 'Titillium Web', sans-serif;
}
.register-button:hover {
    color: black;
    background-color: white;
}
.logo {
    width: 200px;
    height: 200px;
}
.already {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  /* =============== M O B I L E =============== */
  @media (min-width: 320px) and (max-width: 768px) {
    .left-side {
        display: none;
    }
    .right-side {
        width: 100%;
    }
    
  }
  