.first-container button a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.first-container{
    background-image: url(/static/editari/background.jpg) ;
    padding-top: 200px;
    height: 80vh;
    text-align: center;
    align-items: center;
    margin: auto;
}

#title{
    padding-bottom: 20px;
    color: #250052;
    font-family: monospace;
    font-size: 40px;
    font-weight: 800;
}