.first-container button a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.first-container{
    background-image: url(/static/editari/background.jpg) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-container-flex{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
}

#title{
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 60px;
    font-weight: 800;
}
body {
    width: 100%;
    height: 100%;
}
.unique-color-dark {
    background-color: #1c2331 !important;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
